<style>
.error { color: red; } 
</style>

<h1> Edit Corgi </h1>

<% unless @name.errors.empty? %> 
	<p> Please fix the following errors: </p>
	<ul class = error>
		<% @name.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %> 
	</ul>
<% end %>

<%= form_for @name, html:{ multipart: true } do |f| %>
	<p>Name: <%= f.text_field :name %> </p>  
	<p>Owner's Name: <%= f.text_field :owner %> </p>  
	<p>Photo: <%= f.file_field :image %> </p>
	<p><%= f.submit "Update" %></p> 

<% end %>

<%= link_to 'Back', names_url %>
