<ul>
	<h1>Rate a Corgi</h1>
	<% @names.each do |name| %>
		<li>
			<%= name.owner %>'s pet corgi named <%= name.name  %>
			<p>
			<%= image_tag(name.image.url(:large)) %>
			<p>
			Score: <%= name.ratings.average(:value).to_s%>
			<p>
			<% 0.upto(5) do |i| %> 
			<%= link_to i.to_s, name_ratings_url(name, value: i), method: 'POST' %>

			<% end %>
		</li>

	<% end %>
</ul>

<p> <%= link_to "New Corgi", new_name_url %></p>