<ul>
	<h1>Rate a Corgi</h1>
	<% @corgis.each do |corgi| %>
		<li>
			<%= corgi.owner %>'s pet corgi named <%= corgi.name  %>
			<p>
			<!-- a user can only edit a corgi that belongs to her --> 	
			<%= link_to image_tag(corgi.image.url(:large)), user_corgis_url(corgi.owner)  %>
			<p>
			Score: <%= corgi.ratings.average(:value).to_s%>
			<p>
			<% 0.upto(5) do |i| %> 
			<%= link_to i.to_s, user_corgi_ratings_url(corgi.owner, corgi, value: i), method: 'POST' %>

			<% end %>
		</li>

	<% end %>
</ul>

<!-- hacky way of indicating that a new corgi made should belong to the user--> 
<p> <%= link_to "New Corgi", new_user_corgi_url(@corgis.first.owner) %></p>
